.Howworks-section-wrapper {
    margin-top: 40px;
}

.howworks-heading {
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.howworks-heading::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 7rem;
    height: 3px;
    background-color: var(--primary-color);
}

.how-works-card-wrapper {
    margin-top: 30px;
    padding: 40px 0;
    background-color: #f8f8f8;
}

.how-works-card {
    padding: 20px;
}

.how-work-card-img {
    width: 150px;
    display: block;
    margin: 0 auto;
}

.how-works-cards-background {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
}

.how-works-cards-background .how-works-card:nth-child(1),
.how-works-cards-background .how-works-card:nth-child(2) {
    border-right: 2px solid #f5f5f5;
}

.how-work-card-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.how-work-card-desc {
    font-size: 13px;
    color: silver;
    margin-top: 8px;
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .how-work-card-img {
        width: 90px;
    }

    .how-work-card-title {
        font-size: 15px;
    }

    .how-work-card-desc {
        font-size: 13px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 575px) {
    .howworks-heading {
        font-size: 24px;
    }

    .how-works-cards-background {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .how-works-cards-background .how-works-card:nth-child(1),
    .how-works-cards-background .how-works-card:nth-child(2) {
        border-bottom: 2px solid #f5f5f5;
    }
}