@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&family=Poppins:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* ------------Global styling----------- */

:root {
  --primary-color: #C00A27;
  --secondary-color: #FFCC00
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ----------Global Container---------- */

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 8px;
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}